@media screen and (max-width: 768px) {

    * {
        font-size: 1em;
    }

    main {
        h1 {
            font-size: 2em;
            margin: 1em 0;
        }
    }

    .navegacion {
        width: 70%;

        button {
            font-size: 3em;
        }
    }

    .pantalla_inicio {
        height: 40vh;
    }

    .pantalla.titulo {
        font-size: 2em;
    }

    .pantalla.presentacion {
        text-align: justify;
        font-size: 0.8em;
    }

    section {
        height: 30vh;
        font-size: 0.8em;

        h2 {
            font-size: 3em;
            text-align: center;
            margin: 1%;
        }
    }

    @mixin margin($size) {
        margin: $size;
    }

    .orientacion1 {
        @include margin(3vh 3vh)
    }

    .orientacion2 {
        @include margin(3vh 3vh)
    }

    .sponsor {
        height: 15vh;
    }

    .nosotros_fila1 {
        height: auto;
    }

    // Estilos Eventos

    .seccion_eventos {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;

        h2 {
            font-size: 2em;
        }

        p {
            width: 70%;
            text-align: justify;
            margin-top: 2vh;
            font-size: 1.5em;
        }
    }


    // Estilos Servicios
    .servicios {
        display: flex;
        flex-direction: column;
        padding: 2vh;
        height: auto;

        p {
            width: 80%;
        }
    }

    .superior {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h3 {
            font-size: 2em;
        }
    }

    .superior2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h3 {
            font-size: 2em;
        }
    }

    /* Estilos Contacto */
    form {
        width: 80%;
    }


}


@media screen and (max-width: 425px) {
    * {
        font-size: 1em;
    }

    .navegacion {
        width: 70%;

        button {
            font-size: 3em;
        }
    }

    .pantalla_inicio {
        height: 20vh;
        width: auto;
        background-image: url(images/fondo_inicio.jpg);
    }

    .pantalla.titulo {
        font-size: 2em;
        width: 60%;
        margin: 0 0 0 0.1em
    }

    .pantalla.presentacion {
        text-align: justify;
        font-size: 0.8em;
        margin: 0 0 0 2em
        
    }

    .orientacion1,
    .orientacion2 {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        margin-top: 3vh;
    }

    .orientacion2 {
        flex-direction: column;
    }

    #sponsors {
        h2 {
            font-size: 1.5em;
        }
    }

    .sponsor {
        height: 7vh;
        width: auto;
        border-radius: 50%;
    }

    .nosotros.imagen {
        width: 80%;
        height: auto;
    }

    .nosotros_fila1 {
        grid-template-rows: 1fr 1fr;
        height: auto;

        p {
            grid-column: 1/3;
            width: 70%;
        }
    }

    .nosotros_imagenes {
        margin-top: 4vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .seccion_eventos {
        display: grid;
        grid-template-columns: 1fr;
        margin: 2vh 0;

        h2 {
            font-size: 2em;
        }

        p {
            font-size: 1.3em;
            width: 90%;
            height: auto;
            margin: 3vh 0;
        }
    }

    .servicios {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;

        p {
            width: 80%;
        }
    }

    .superior,
    .superior2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h3 {
            font-size: 2em;
        }
    }

    /* Estilos Contacto */
    form {
        width: 80%;
    }

    #consultas {
        h1 {
            text-align: center;
            font-size: 1.5em;
            margin: 0 0 -2em 0;
        }
    }
}