*{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;;
}

header, main, footer{
    background-color: #260c1a;
    color: #FFe50F;
    width: 100%;
}

.pantalla__inicio{
    height: 60vh;
    background-image: url(images/fondo_inicio.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: aliceblue;
}

ul li {
    display: inline;
}

section{
    height: 40vh;
    border: 1px solid #FFe50F;
    padding: 5rem;
}

.imagen {
    display: inline;
}